{% extends "template.html" %}
{% block title %}Consulta de cantones{% endblock %}
{% block content %}
    <table cellpadding="5" align="center">
        <tr>
            <td>
                <h2 align="center"><a href="/">Provincias</a> / <a href="/cantones?provincia={{ prov_ref }}">{{ prov_nombre['nombre'] }}</a> / {{ cant_nombre['nombre'] }}</h2>
                <p align="center">Bienvenidos a la consulta de distritos.</p>
                <p align="center">Estos son los distritos de la provincia de {{ prov_nombre['nombre'] }}, canton de {{ cant_nombre['nombre'] }}:</p>
                <table align="center" border="1" cellpadding="5">
                    <tr><td>Código</td><td>Nombre</td></tr>
                    {% for dict in data %}
                    <tr><td align="center">{{ dict['codigo'] }}</td><td>{{ dict['nombre'] }}</td></tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
    </table>
{% endblock %}